
@{
    ViewData["Title"] = "Вход";
}

<h1>Вход</h1>
<p>@ViewBag.Mess</p>
<div>
    <form method="post" action=" ">
        <p>Логин:</p>
        <input name="Login" />
        <p>Пароль:</p>
        <input type="password" name="Password" /><br/>
        <p>
        <input class="positive" type="submit" value="Войти" />
        </p>
    </form>
</div>

