@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Хранитель ПРО</h1>
    <h2 class="display-4">Система заказа пропуска</h2>
    <p><a class=batn href="~/Cabinet/Auth">Войти</a></p>
    <p><a class=batn href="~/Cabinet/reg">Регистрация</a></p>
    <p><a class=batn href="~/Cabinet/select">Подать заявление</a></p>
</div>
